<html>

<head>
    <meta charset="utf-8" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.41.0/codemirror.min.js"></script>

    <title>모두의 코딩</title>

    <link rel="stylesheet" href="/asset/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/asset/css/index.css">
    <link rel="stylesheet" href="/asset/css/common.css">

    <link href='https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>

    <link href="/asset/css/styles.css" rel="stylesheet" type='text/css' />
</head>

<body>
    <!-- <div class="jumbotron"></div> -->
    <div class="container">
        <h1>모두의 코딩</h1>
        <h5>이렇게 시작해보세요.</h5>
        <div class="row">

            <div class="card col-md-12">
                <div class="card-body">
                    <h5 class="card-title">그룹스터디</h5>
                    <p class="card-text">같이 모여 코딩해도 결국 각자 코딩하게 되는 스터디, 이제는 같이 공부해보세요</p>
                    <a href="/newchannel" class="card-link">시작하기</a>
                </div>
            </div>



            <div class="card col-md-12">
                <div class="card-body">
                    <h5 class="card-title">할 것 발견하기</h5>
                    <p class="card-text">같이 모였지만 무엇을 할지 막막하다면 여러 개발자들로부터 검증된 사이트에서 제공하는 인기있는 문제들부터 확인해보세요</p>
                    <a href="/problems" class="card-link">문제모음</a>
                </div>
            </div>


            <div class="card col-md-12">
                <div class="card-body">
                        <h5 class="card-title">돌아보기</h5>
                        <p class="card-text">진행하고 있는 스터디나 진행할 스터디가 무엇이 있었는지 확인해보세요</p>
                        <a href="/profile/?id" class="card-link">프로필 보기</a>
                </div>
            </div>
        </div>

    </div>
</body>

</html>