<html>

<head>
    <meta charset="utf-8">
    <title>모두의 코딩 메인 페이지</title>
    <link href="/site/asset/css/indexnew.css" rel="stylesheet" type="text/css">
    
</head>

<body>
    <header>

        
        <div class="row">
        <ul class="main-nav">
            <li><a href=""> HOME</a></li>
            <li><a href="/signin"> LOGIN</a></li>
            <li><a href="/newchannel"> START</a></li>
            <li><a href="/problems"> EXAMPLES</a></li>
            <li><a href="/profile"> PROFILE</a></li>
        </ul>
        </div>
        
        <div class="modooui-coding">
        <h1>모두의 코딩</h1>
        
            <div class="button">
               <a href="/signin" class="btn btn1">로그인</a>
               <a href="/newchannel" class="btn btn2">시작하기</a>
            </div>
        
        </div>
    </header>
</body>

</html>