<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>모두의 코딩</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="../asset/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../asset/css/sign.css" />
    <meta name="google-signin-client_id" content="198761911109-d320g0rk3hncmchmgbac6dil70eo6gif.apps.googleusercontent.com">
    <title></title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">모두의 코딩</a>
            <div class="mr-auto"></div>
            <div id="nav-profile"></div>
        </div>
    </nav>
    <div class="jumbotron"></div>
    <div class="container card-container-top">
        <h1 id="title-login">로그인이 필요합니다</h1>
        <div class="container" id="CONTENTS">

            <div id="card-login" class="card">
                <div class="card-body">
                    <h5 id="clientName"></h5>
                    <img id="client-image" class="rounded-circle" src="../asset/img/basic_profile.png"/>
                    <br />

                    <a id="BTN_GOOGLE_LOGIN"><img  src="../asset/img/temp_google_login.png"/></a>

                    <!-- <button id="BTN_GOOGLE_LOGIN" type="button" class="btn btn-success">구글인증</button> -->

                    <h6>계정이 없을 경우에도 Google 계정으로 간단하게 만들 수 있습니다!</h6>
                    <!-- <button id="btn_logout" class="btn btn-danger">로그아웃</button> -->
                    <!-- <a href="javascript:login()">세션 유지</a> -->
                </div>
            </div>
        </div>

        <footer clas="page-footer indigo">
            <div class="container">
                <div class="row center">
                    <a href="/" class="btn white indigo-text" style="margin: 0px auto;">돌아가기</a>
                </div>
            </div>

        </footer>
    </div>
</body>
<script src="https://www.gstatic.com/firebasejs/5.5.8/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-auth.js"></script>


<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyAIKmgHDqybftQ8-Tnedb4yT6ZyVU1t_Zk",
        authDomain: "modooui-coding.firebaseapp.com",
        databaseURL: "https://modooui-coding.firebaseio.com",
        projectId: "modooui-coding",
        storageBucket: "modooui-coding.appspot.com",
        messagingSenderId: "198761911109"
    };
    firebase.initializeApp(config);


    function login() {
        firebase.auth().onAuthStateChanged(newLoginHappened);
    }

    function newLoginHappened(user) {
        if (user) {
            //user signed in
            app(user);
        }
        else {
            var provider = new firebase.auth.GoogleAuthProvider();
            firebase.auth().signInWithRedirect(provider);
        }
    }

    function app(user) {
        //user.displayName
        //user.email
        //user.photoURL
        //user.uid
        console.log(user);
        $("#clientName").html("Hello, " + user.displayName);
        $("#client-image").attr("src", user.photoURL)
        $("#title-login").hide()
    }

    // window.onload=login;


    $(function () {
        $("#BTN_GOOGLE_LOGIN").click(function () {
            var provider = new firebase.auth.GoogleAuthProvider();

            firebase.auth().signInWithPopup(provider).then(function (result) {
                let name = result.user.displayName;
                let img = result.user.photoURL;
                let id = result.user.uid;
                let email = result.user.email;

                $.post('/api/_login', {
                    "userName": name,
                    "userImg": img,
                    "userId": id,
                    "userEmail": email
                }, function(data) {
                    console.log(data)
                    if (data) {
                        window.location.href = "/";
                    } else {
                        alert("FAIL");
                    }
                });

            }).catch(function (error) {
                // alert(error.message)
            });
        })

        $("#btn_logout").click(function () {
            firebase.auth().signOut().then(function () {
                $('#btn_logout').hide();
                window.location.href = "/";
            })
        })
    });


</script>

</html>