#chat_index{
    background: radial-gradient(#666, #999);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 800, color-stop(0%, #999999), color-stop(800%, #666666));
    background: -webkit-radial-gradient(center center, circle closest-side, #999999, #666666 800%);
    background: -moz-radial-gradient(center center, circle closest-side, #999999, #666666 800%);
    background: -o-radial-gradient(center center, circle closest-side, #999999, #666666 800%);
    background: radial-gradient(center center, circle closest-side, #999999, #666666 800%);
}

.top-bar {
  background: #666;
  position: relative;
  overflow: hidden; 
}
.top-bar::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: -100%;
  opacity: 0.25;
  background: radial-gradient(white, black);
}
.discussion li {
  display: flex;
}
.avatar {
  width: 40px;
}
.avatar img {
  width: 100%;
  display: block;
}

.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(black, 0.2)
}
    
time {
    font-size: 0.7rem;
    color: #ccc;
  }
  
