
#nav-client-name {
    height: 50px;
    margin-left: 10px;
}

#section-dialogs {
    position: fixed;
    width: 800px;
    top: 0px;
    left: 50%;
    margin-left: -300px;
    margin-top: 30px;
}

#container-control {
    float: right;
    margin-bottom: 40px;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

#container-menu {
    margin-top: 75px;
}

#btn-new-study:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

#btn-join-study:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}
