h1 {
    margin-top: 15px;
    margin-bottom: 80px;
}

.card {
    margin-bottom: 15px;
}
/* 
.shape-rect {
    width: 300px;
    height: 300px;
} */

/* .inner-body {
    width: 258px;
    height: 258px;
    border: 10px solid black;
    text-align: center;
} */
/* 
.inner-body button{
    margin-top: 105px;
} */