#section-problem-info {
    margin-bottom: 40px;
}

#card-room {
    margin: 0px auto;
    width: 300px;
}

h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

#card-room * {
    margin: 0px auto;
    text-align: center;
}

.inner-card {
    margin-bottom: 5px;
}

h5 {
    margin-bottom: 5px !important;
}

h4 {
    text-align: center;
}

h3 {
    margin-top: 50px;
}

#img-room {
    width: 100px;
    height: 100px;
}